@media (max-width: 768px) {
    /* Header */
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .header__logo {
        margin: 1rem 0;
    }

    .header__navigation {
        margin-right: 0;
    }

    .header__navigation__list {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .header__navigation__list.show {
        display: block; /* Exibe a lista quando a classe 'show' está presente */
    }

    .header__navigation__list__item {
        margin-left: 0;
        margin-top: 1rem;
    }

    .footer {
        font-size: 12px; /* Tamanho da fonte do rodapé */
    }

    /* Card */
    .card {
        flex: 1 1 calc(50% - 20px); /* Ajusta a largura do card */
    }

    /* Main Container */
    .main-container {
        padding: 0; 
    }

    /* Formulário */
    form {
        padding: 15px; 
    }

    .form-control {
        padding: 8px; 
    }

    .btn-primary {
        padding: 8px; 
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    /* Logo no Header */
    .header__logo img {
        width: 7rem; /* Largura da imagem do logo */
    }

    .header__logo p {
        font-size: 1.5rem; /* Tamanho da fonte do texto do logo */
    }

    /* Navegação */
    .header__navigation__list__item a {
        font-size: 1.2rem; /* Tamanho da fonte dos links de navegação */
    }

    /* Card */
    .card {
        flex: 1 1 100%; /* Cartão ocupa 100% da largura */
    }

    /* Main Container */
    .main-container {
        padding: 10px; 
    }

    /* Formulário */
    form {
        max-width: 100%; 
    }

    /* Botão Primário */
    .btn-primary {
        padding: 10px; 
        font-size: 16px; 
    }
}
